<% provide(:title, "About") %>
<header class="page-header">
  <h1 class="text-center">About Us</h1>
</header>
<article>
  <p class="text-center">PhotoStock is your fast, easy-to-use marketplace for quality stock images. We offer many royalty-free photographs and illustrations from talented photographers and artists around the globe, available for almost any purpose.</p>
</article>
