<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Welcome to <%= @appname %>!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
  <tbody>
  <tr>
    <td><p>Thank you for signing up with <%= @appname %>!</p><br><br></td>
  </tr>
  <tr>
    <td><p><strong>Your <%= @appname %> Team!</strong></p></td>
  </tr>
  </tbody>
</table>
</body>
</html>