<div class="footer-padding"></div>
<footer class="container-fluid">
  <div class="footer-copyright">
    &copy; 2016 <%= link_to "Tyler Nixon", "http://tyler-nixon.com", id: "copyright", target: "_blank" %>
  </div>
</footer>